.illustration {
  width: 100px;
  height: auto;

  svg {
    display: block;
    width: 100px;
    height: auto;
  }

  &.auto {
    &,
    svg {
      width: auto;
    }
  }

  &.small {
    &,
    svg {
      width: 60px;
    }
  }

  &.xsmall {
    &,
    svg {
      width: 30px;
    }
  }
}
