@import "../Tokens/tokens.scss";

.top-bar {
  margin: ($baseUnit * 2) 0 ($baseUnit * 9) 0;
  display: flex;
  justify-content: space-between;
  
  @media(min-width: 1001px) {
    margin-left: 216px; // (sidenav min-width) + ($baseUnit * 2)
    min-width: -200px;
  }

  @media(max-width: 1000px) {
    display: none;
  }

  .top-bar-user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 ($baseUnit * 2) 0 auto;

    .user-name {
      margin-right: $baseUnit * 1.5;
    }

    .user-image {
      margin-right: $baseUnit * 2;
    }

    .user-menu {
      
    }
  }
}
