@import "../Tokens/tokens.scss";
@import "../../common/scss/helpers";

@import "~react-datepicker/dist/react-datepicker.css";

.input-field {
  position: relative;
  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker {
    border-radius: 0;
    border: 1px solid #A3A3A3;
    box-shadow: 0 20px 13px 0 rgba(0,0,0,0.04);
    font: inherit;
    font-size: 14px;
    font-weight: bold;
  }

  .react-datepicker-popper {
    top: -10px !important;
  }

  .react-datepicker__navigation {
    top: 34px;
    border-width: 6px;

    &.react-datepicker__navigation--previous {
      left: 25px;
      border-right-color: #202020;
    }

    &.react-datepicker__navigation--next {
      right: 25px;
      border-left-color: #202020;
    }
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__header {
    padding: 30px 20px 0 20px;
    background: #fff;
    border: 0;

    @media (max-width: 1000px) {
      padding: 20px 10px 0 10px;
    }

    .react-datepicker__current-month {
      background: #f0f5eb;
      padding: 10px 100px;
      margin-bottom: 20px;
      text-transform: capitalize;

      @media (max-width: 1000px) {
        padding: 10px 60px;
      }
    }
  }

  .react-datepicker__month {
    padding: 0 30px 30px 30px;

    @media (max-width: 1000px) {
      padding: 0 10px 10px 10px;
    }
  }

  .react-datepicker__day-name {
    margin: 0 8px;
    text-transform: capitalize;

    @media (max-width: 1000px) {
      margin: 0 5px;
    }
  }

  .react-datepicker__day {
    margin: 8px;
    border-radius: 0;

    @media (max-width: 1000px) {
      margin: 5px;
    }

    &.react-datepicker__day--outside-month {
      opacity: 0.4;
      font-weight: normal;
    }

    &.react-datepicker__day--selected {
      background: #b0ddeb;
      color: inherit;
      font-weight: bold
    }

    &.react-datepicker__day--today {
      &:not(.react-datepicker__day--selected) {
        background: #fff;
        border: 2px solid #ddd;
        color: inherit;
        font-weight: bold;
      }
    }
  }
}
