#root {
  max-width: 100vw;
}

.documentation {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  max-width: 850px;
}

.documentation,
.documentation a {
  color: #000;
}

.documentation a:hover {
  color: #005260;
  text-decoration: underline;
}

.documentation .logo {
  width: 50%;
  max-width: 300px;
  margin-top: 20px;
}

.documentation h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: Nunito;
  margin-top: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .documentation h1 {
    font-size: 2em;
  }
}

.documentation h1 img {
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.documentation .version {
  display: block;
  vertical-align: middle;
  font-size: 18px;
  padding-left: 0;
}

.documentation h1 + p {
  font-size: 21px;
  margin: 20px 0px;
}

.documentation h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: Nunito;
  margin-top: 40px;
  margin-bottom: 16px;

  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.documentation h3 {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.documentation.design h3 {
  margin-top: 30px;
  color: #005260;
}

.documentation p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 16px 0;
}

.documentation p code,
.documentation pre {
  font-size: 14px;
  line-height: 1.5;
  font-family: "FiraCode-Retina", "FiraCode Retina", "FiraCode Regular", Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", monospace;

  overflow: scroll;
}

.documentation p code {
  background: #F1EFD6;
  padding: 2px 4px;
}

.documentation pre{
  color: #fff;
  background: #272c34;
  border-radius: 4px;
  
  padding: 16px;
  margin-bottom: 24px;
}

.documentation hr {
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
  margin: 30px 0 40px 0;
}

.documentation img:not(.logo) {
  display: block;
  max-width: 100%;
  padding: 30px 0;
}

.documentation blockquote {
  background: #D6EADF;
  border-radius: 4px;
  margin: 20px 0px;
  padding: 16px 24px;
}

.documentation blockquote strong {
  color: #4a6657;
  font-weight: 900;
}

.documentation blockquote p {
  margin: 0;
}