@import "../Tokens/tokens.scss";

.select {
  position: relative;
  padding-bottom: $baseUnit * 1;
  padding-top: $baseUnit * 1;
  margin-top: ($baseUnit * 1);
  transition: all .3s ease 0s;

  // Pop-out box when opened
  &.is-open {    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: $baseUnit * 6;

    &::before {
      content: "";
      position: absolute;
      top: -($baseUnit * 2);
      left: -($baseUnit * 3);
      right: -($baseUnit * 3);
      bottom: -($baseUnit * 2);
      background: #fff;
      border: 1px solid #C6C6C6;  
      animation: popout .2s forwards;
    }

    &.error::before {
      border: 1px solid $red;  
    }
  }

  // Skjul label om det ikke er valgt noe, eller selecten er åpen
  &.not-selected > label,
  &.is-open > label {
    display: none;
  }

  & > label {
    position: absolute;
    width: 100%;
    top: -$baseUnit;
    left: 0;
    z-index: 0;
    font-size: 14px;
    font-weight: bold;
    color: rgba(#1D1C28, 0.4);
    margin-bottom: $baseUnit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  // Forkle knappen som et input-felt
  & > button {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    border: 0;
    outline: 0;
    padding: 0;
    font: inherit;
    box-shadow: none;
    background: none;
    user-select: none;
    line-height: 24px;
    font-size: 18px;
    text-align: left;
    cursor: pointer;

    // Gjør så teksten i knappen ikke går inni ikonet
    & > div:first-child {
      padding-right: $baseUnit * 3;
    }
  }

  &.is-closed.not-selected > button > div:first-child {
    color: rgba(#1D1C28, 0.58);
    font-style: italic;
  }

  // Legg til understrek på knappen når selecten er lukket
  &.is-closed > button {
    padding-bottom: $baseUnit * 1;
    border-bottom: 1px solid #979797;

    &:focus {
      box-shadow: 0 4px 0 0 $lightBlue;
    }
  }
  
  &.is-open > button:focus-visible > span {
    outline: 4px solid $lightBlue;
    outline-offset: $baseUnit;
  }

  & > fieldset {
    position: relative;
    z-index: 2;
    border: 0;
    padding: 0;
    margin-top: $baseUnit * 3;
    transition: height .3s;

    & > * {
      margin-bottom: $baseUnit * 1;  
      display: list-item;
      list-style: none;
    }
  }
  
  // Skjul elementene når selecten er lukket
  &.is-closed > fieldset {
    overflow: hidden;
    display: none;
  }

  &.is-closed.error > button {
    border-bottom: 1px solid $red;

    & > div:first-child {
      color: $red;
    }
  }

  &.is-open > p.error {
    margin-top: $baseUnit * 2;
  }

  &.is-closed > p.error {
    padding-top: $baseUnit/2;
  }
}

@keyframes popout {
  0% {
    box-shadow: 0 30px 13px 0 #fff;
  }
  100% {
    box-shadow: 0 20px 13px 0 rgba(0, 0, 0, .05);
  }
}
