@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito%20Sans:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #1D1C28;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  image-rendering: -webkit-optimize-contrast;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
