// units
$baseUnit: 8px;

// colors
$red: #E40017;
$gin: #EAF3EF;
$swansDown: #D4E6DC;
$pixieGreen: #BFDCB2;
$springWood: #F8F6F0;
$lightBlue: #AEDCEA;
$potPourri: #F7E5E2;
$peppermint: #DAE8D0;
$deepSeaGreen: #005260;
$catSkillWhite: #EBF6F9;
$ecruWhite: #F6F5E4;
$hummingBird: #D2EFF6;
$onahau: #BDE7F1;
$grannyApple: #C9E6C2;
$zanah: #DAEED5;
$hawkesBlue: #D5DDEE;
$iceCold: #B2DCDA;

// Secondary colours
$noytral-1: #ECECEC;
$noytral-2: #DFDFDF;
$noytral-3: #CACACA;
$stein-1: #D5E1E5;
$stein-2: #BACDD4;
$stein-3: #88A6B0;