@import "../Tokens/tokens.scss";
@import "../../common/scss/helpers";

/* Base style */
.vtfk-table-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  & table {
    width: 100%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;

    & tbody tr {
      &:nth-of-type(even) {
        background-color: #dce7eb;
      }

      &:nth-of-type(odd) {
        background-color: #f5f4f4;
      }

      &.tr-selected {
        &:nth-of-type(even) {
          background-color: $dugg-2;
        }
  
        &:nth-of-type(odd) {
          background-color: $dugg-1;
        }
      }

      &:hover {
        background-color: rgba(206, 207, 207, 0.952) !important;
      }

      td {
        padding: 0.5rem;
        text-align: left;
      }
    }

    & thead tr {
      background-color: #b0c9d1;
      
      th {
        padding: 0.5rem;
        text-align: left;
        background-color: #b0c9d1;
      }
    }

  }
}

/*
  Loading
*/
.vtfk-table-loading-td {
  width: 100%;
  height: 100%;
}

.vtfk-table-loading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

/*
  Mobile
*/
.vtfk-table-container.mobile {
  & table {
    border-collapse: collapse;
    border: none;

    /* Header */
    & thead tr.vtfk-table-mobile-header-row {
      

      .vtfk-table-mobile-header {
        position: relative;
        color: rgb(39, 39, 39);
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        border-collapse: collapse;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        .vtfk-table-mobile-header-text {
          flex-grow: 1;
        }

        .vtfk-table-mobile-selectall {
          display: flex;
          align-items: center;
        }
      }
    }

    /* Row */
    & tbody tr {
      padding: 0.2rem 0;
      display: flex;
      flex-direction: column;
    }

    /* Item */
    & tbody tr td {
      display: flex;
      justify-content: space-between;
      

      .vtfk-table-mobile-item-header {
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 14px;
      }

      .vtfk-table-mobile-item-value {
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 14px;
      }
    }
  }
}